.title {
    text-align: center;
    font-weight: 600;
    font-family: "Playfair Display SC";
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 3rem;

}

.title .btnAdd {
    color: #ccc;
    height: 80px;

}
@media (min-width: 1169px) {
    .title .btnAdd {
        height: 50px;
        font-size: 2.4em;
    }
}
/* For screens larger than 991px */
@media (min-width: 991px) and (max-width: 1169px)  {
    .title {
        font-size: 2.4em;
    }
}

/* For screens between 901px and 990px */
@media (min-width: 901px) and (max-width: 990px) {
    .title {
        font-size: 2.5em;
    }
}

/* For screens between 800px and 900px */
@media (min-width: 800px) and (max-width: 900px) {
    .title {
        font-size: 2.2em;
    }
}

/* For screens up to 799px */
@media only screen and (max-width: 799px) {
    .title {
        font-size: 2em;
    }
}
