.wrapper {
    background-color: #f6f8ff;
    width: 100%;
    min-height: 100vh;
    background: transparent;
    opacity: 1;
    display: flex;
    flex-direction: column;
    align-items:center;
}

.wrapper.pre {
    background-size: cover !important;
    background: url(https://images.unsplash.com/photo-1523633589114-88eaf4b4f1a8?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=3870&q=80);
    background: url(https://images.unsplash.com/photo-1462556791646-c201b8241a94?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2896&q=80);
    position: absolute;
    top: 0;
    z-index: -2;
    opacity: 0.75;
    background: url(https://assets.codepen.io/4927073/mybg.jpg);
}
